{% extends "base.html" %}
{% block content %}
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
				<h4 class="section-title">Appointment</h4>
				<h1 class="display-5 mb-4">お問い合わせフォーム</h1>
				<p class="mb-4">HotelMeetについてその他質問などがございましたらこちらのフォームよりお気軽にお問い合わせください。</p>
				<div class="row g-4">
					<div class="col-12">
						<div class="d-flex">
							<div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
								<i class="fa fa-2x fa-phone-alt text-primary"></i>
							</div>
							<div class="ms-4">
								<p class="mb-2">Call Us Now</p>
								<h3 class="mb-0">+012 345 6789</h3>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="d-flex">
							<div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
								<i class="fa fa-2x fa-envelope-open text-primary"></i>
							</div>
							<div class="ms-4">
								<p class="mb-2">Mail Us Now</p>
								<h3 class="mb-0">info@example.com</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 wow fadeInUp py-5" data-wow-delay="0.5s">
				<div class="row g-3">
					<form method="post">
						{% csrf_token %}
						<div class="row g-3">
							<div class="col-md-6">
								<div class="form-floating">
									<input type="text" class="form-control" id="name" placeholder="Your Name">
									<label for="name">Your Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
									<input type="email" class="form-control" id="email" placeholder="Your Email">
									<label for="email">Your Email</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control" id="subject" placeholder="Subject">
									<label for="subject">Subject</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
									<label for="message">Message</label>
								</div>
							</div>
							<div class="col-12">
								<button class="btn btn-primary w-100 py-3" type="submit">送信</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}