{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}

{% block content %}
<body class="main-bg">
<div class="login-container text-c animated flipInX">
<div class="container">
  <div class="row">
    <div class="col py-4">
      <hr>
      <div>
        <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
      </div>
      <h3 text-align: center; class="text-whitesmoke">パスワードをリセット<br>しますか?</h3>
      <p class="text-whitesmoke">
          登録済みのメールアドレスを入力してください。<br>
        パスワードリセットのリンクを記載したメールを<br>すぐにお届けします。
      </p>
      <br>
      <form action="" method="POST" class="text-center">
        {% csrf_token %}
        {{form}}
        <input type="submit" class="form-button">
        
      </form>
      <br>
      <a class="text-whitesmoke" href="{% url 'index' %}">Hotelmeet</a>
      <hr>
    </div>
  </div>
</div>
</div>
</body>
{% endblock %}
